/* new post */
h1 { 
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}

label { 
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    margin:0 20px 10px;
    background:#ededed;
    border:0;
    width: 1050px;
    padding: 6px;
    font-size:12px;
    border-radius: 5px;
}
input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
    margin: 20px 0;
    width: 80px;
    cursor: pointer;
}